<ul class="flex flex-wrap mb-4">
  <li *ngFor="let tab of tabs"  class="flex-auto text-center" (click)="selectTab(tab)">
    <a class="block rounded py-3 px-4 transition " [ngClass]="{'text-white': tab.active , 'bg-indigo-400': tab.active,
    'hover:text-white': tab.active, 'hover:text-indigo-400': !tab.active }" href="#">{{tab.tabTitle}}</a>
  </li>
<!--  <li class="flex-auto text-center">-->
<!--    <a class="block rounded py-3 px-4 transition hover:text-indigo-400"-->
<!--       href="#">Register</a>-->
<!--  </li>-->
</ul>
<ng-content></ng-content>


